*{
	margin: 0px;
	padding: 0px;
	/*outline: 1px solid yellow;*/
}
#container{
	width: 970px;
}
#header{
	height: 115px;
}
#globe{
	height: 100px;
	width: 100px;
	z-index: 2;
	position: relative;
}
#internet{
	width: 70%;
	display: inline-block;
	position: relative;
	bottom: 20px;
}
#world{
	background: linear-gradient(#2768A0, #4A7EAA, #2768A0);
	color: white;
	width: 100%;
	z-index: 1;
	display: inline-block;
	position: relative;
	bottom: 20px;
	font-size: 20px;
}
#top{
	border-bottom: 1px solid black;
}
#sidepanel{
	display: inline-block;
	width: 200px;
	background: linear-gradient(#E5E5E5, white, white);
	font-weight: bold;
	padding: 10px 0px 10px 3px;
	border-bottom: 1px solid #9A9A9A;
	width: 200px;
}
#sidepanel h4{
	font-size: 18px;
}
#sidepanel h4 span{
	color: red;
}
#sidepanel span{
	color: #4379A5;
}
#sidepanel p{
	margin: 20px 0px;
}
#bluebutton{
	background-color: #4783B4;
	margin-bottom: 5px;
}
#orangebutton{
	background-color: orange;
	margin-bottom: 30px;
}
#adbackground{
	width: 100%;
	height: 100%;
}
#advertisement{
	margin-top: 30px;
	background-image: url("ad_background.png");
	text-align: center;
	height: 300px;
	color: white;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	box-shadow: 2px 2px 4px black;
}
#advertisement span{
	font-size: 7px;
}
#ninja{
	width: 50%;
	height: 50%;
	margin: 20px 0px;
}
#learnmore{
	background-color: #00C2DF;
}
#contentheader{
	display: inline-block;
	width: 743px;
	background: linear-gradient(#E5E5E5, white, white);
	vertical-align: top;
	padding: 10px;
	border-bottom: 1px solid #B3B3B3;
}
#home{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
}
#dns{
	display: inline-block;
	color: #4379A5;
	vertical-align: top;
	height: 100%;
	width: 62%;
}
#phone{
	height: 40px;
	width: 40px;
}
#junk{
	display: inline-block;
	text-align: right;
}
#junk p{
	font-size: 12px;
}
#junk span{
	color: #05BEDD;
	font-size: 30px;
	font-weight: bold;
}
#content{
	display: inline-block;
	width: 743px;
	background: linear-gradient(#E5E5E5, white, white);
	vertical-align: top;
	border-top: 1px solid grey;
}
#content span{
	color: #0097AF;
}
#content ul{
	padding: 0px 30px 20px 30px;
}
#client{
	height: 100px;
	width: 250px;
	margin: 0px 200px;
}
#content ol{
	padding: 0px 30px 20px 30px;
}
#bottom{
	vertical-align: top;
	width: 500px;
	display: inline-block;
	margin: 10px;
}
#bottom span{
	color: #0097AF;
}
#html{
	height: 100px;
	width: 100px;
	margin: 10px;
}
#border{
	border-left: 4px solid blue;
	border-top: 4px solid blue;
	border-right: 4px solid blue;
}
button{
	padding: 5px 15px;
	color: white;
	width: 95%;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 4px black;
}
h4{
	color: #22649E;
	font-size: ;
}